# OS
Thumbs.db
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.eggs/

# Virtual env
.venv/
venv/
env/

# Env files (keep only the example)
.env
.env.*
!.env.example

# Editor/IDE
.vscode/
.idea/
*.code-workspace

# Caches/Logs (opc.)
.cache/
.pytest_cache/
.mypy_cache/
*.log